.swiper-wrapper {
    width: 100%;
    height: max-content !important;
    padding-bottom: 64px !important;
    -webkit-transition-timing-function: linear !important;
    transition-timing-function: linear !important;
    position: relative;
  }
  .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background: #cf2e2e !important; 
  }

  .slide-1 {
    background-image: url(../../assets/crousers-3.jpg);
    background-size: cover; 
    background-position: center;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges; 
    image-rendering: high-quality;
    image-rendering: pixelated;
    -webkit-backface-visibility: hidden; 
    transform: translateZ(0); 
    filter: brightness(1.1) contrast(1.05); 
  }

  .slide-2{
    background-image: url(../../assets/crousers-3.png);
    background-size: cover; 
    background-position: center;
    image-rendering: -webkit-optimize-contrast; 
    image-rendering: crisp-edges; 
    image-rendering: high-quality; 
    image-rendering: pixelated;
    -webkit-backface-visibility: hidden;
    transform: translateZ(0); 
    filter: brightness(1.1) contrast(1.05); 
  }

  .slide-3{
    background-image: url(../../assets/crousers-4.jpg);
    background-size: cover; 
    background-position: center;
    /* image-rendering: -webkit-optimize-contrast; */
    image-rendering: crisp-edges; 
    image-rendering: high-quality;
    image-rendering: pixelated; 
    -webkit-backface-visibility: hidden;
    transform: translateZ(0); 
    filter: brightness(1.1) contrast(1.05); 
  }

  .slide-4{
    background-image: url(../../assets/crousers-2.png);
    background-size: cover; 
    background-position: center;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges; 
    image-rendering: high-quality;
    image-rendering: pixelated; 
    -webkit-backface-visibility: hidden; 
    transform: translateZ(0); 
    filter: brightness(1.1) contrast(1.05); 
  }